<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="global" xsi:type="SplitGroup">
      <target name="file" xsi:type="File"
        fileName="${basedir}/Log.txt"
        archiveEvery="None"
        concurrentWrites="false"
        keepFileOpen="false"
        deleteOldFileOnStartup="true"
        layout="${date:format=dd/MM/yyyy HH\:mm\:ss.ffff:Padding=24}|${level:uppercase=true:Padding=5}|${message}"/>
      <target name="console" xsi:type="ColoredConsole" 
        layout="${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="File" minlevel="Trace" writeTo="file"/>
    <logger name="Console" minlevel="Info" writeTo="console"/>
    <logger name="Global" minlevel="Info" writeTo="global"/>
  </rules>
</nlog>